<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <!--Aquí se añaden la parte de los links-->
    <%- include('partials/head.html'); -%>
</head>
<body>
    <!--Aquí ha cambiado la sintaxis (se le agrega "- -" y solo es para este include)-->
    <%- include('partials/navigation.html'); -%>
    
    <!--Imágen-->
    <div class="container">
        <header class="row">
            <div class="col-lg text-center align-center">
                <img src="img/pews-logo.png" alt="Logo" class="animate__animated animate__zoomIn">
            </div>
        </header>
    </div>

    <!--Sección 1-->
    <div class="container-fluid" id="about">
        <div class="row bg-dark text-white p-5 text-center">
            <div class="col-sm-6">
                <i class="fab fa-youtube fa-10x"></i>
            </div>
            <div class="col-sm-6">
                <h3>One of my favoirites youtubers</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem quaerat magni ex sed pariatur possimus maxime cupiditate facilis! Minima, dolore eligendi cupiditate cum dicta quam illum itaque officia eveniet beatae.</p>
            </div>
        </div>
    </div>

    <!--Footer-->
    <%- include('partials/footer.html'); -%>
</body>
</html>